<div nz-row nzGutter="16">
  <div nz-col nzSpan="6">
    <!-- 页面访问量 -->
    <nz-card [nzBordered]="false">
      <span>页面访问量</span>
      <h1>{{8148 | number}}</h1>
      <div>
        <v-chart [forceFit]="chart1.forceFit" [height]="chart1.height" [width]="chart1.width" [scale]="chart1.scale" [padding]="chart1.padding" [data]="pageData">
          <v-tooltip></v-tooltip>
          <v-smooth-area position="date*value" color="#965fe4"></v-smooth-area>
        </v-chart>
      </div>
      <nz-divider></nz-divider>
      <span>日访问量 1,234 </span>
    </nz-card>
  </div>
  <!-- 用户总量 -->
  <div nz-col nzSpan="6">
    <nz-card [nzBordered]="false">
      <span>用户总量</span>
      <h1>{{118148 | number}}</h1>
      <div class="mt-1">
        <i nz-icon type="caret-up" theme="outline" class="font-red"></i>
        较昨日增长5人
      </div>
      <nz-divider></nz-divider>
      <span>需求者：{{1123 | number}}
        <br>开发者：{{1123 | number}}</span>
    </nz-card>
  </div>
  <!-- 项目总数 -->
  <div nz-col nzSpan="6">
    <nz-card [nzBordered]="false">
      <span>项目总数</span>
      <h1>{{148 | number}}</h1>
      <div>
        <v-chart [forceFit]="chart1.forceFit" [height]="chart1.height" [width]="chart1.width" [scale]="chart1.scale" [padding]="chart1.padding" [data]="pageData">
          <v-tooltip></v-tooltip>
          <v-bar position="date*value"></v-bar>
        </v-chart>
      </div>
      <nz-divider></nz-divider>
      <span>今日新增项目 20</span>
    </nz-card>
  </div>
  <!-- 完成项目 -->
  <div nz-col nzSpan="6">
    <nz-card [nzBordered]="false">
      <span>完成项目</span>
      <h1>{{1231 | number}}</h1>
      <div>
        <v-chart [forceFit]="chart1.forceFit" [height]="chart1.height" [width]="chart1.width" [scale]="chart1.scale" [padding]="chart1.padding" [data]="userData">
          <v-tooltip></v-tooltip>
          <v-line position="date*value" color="#39bc7e"></v-line>
        </v-chart>
        <nz-divider></nz-divider>
        <span>今日完成项目：11</span>
      </div>
    </nz-card>
  </div>
</div>

<div nz-row nzGutter="16" class="mt-3">
  <div nz-col nzSpan="12">
    <nz-card [nzBordered]="false"></nz-card>
  </div>
  <div nz-col nzSpan="12">
    <nz-card [nzBordered]="false"></nz-card>
  </div>
</div>