<nz-card [nzBordered]="false">
  <nz-table #table
    [nzData]="projectTable"
    [nzPageSize]="20">
    <thead>
      <tr>
        <th nzShowExpand></th>
        <!-- <th>ID</th> -->
        <th>项目名称</th>
        <th>项目发布时间</th>
        <th>需求者</th>
        <th>开发者</th>
        <th>估价</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor
        let-item
        [ngForOf]="table.data">
        <tr>
          <td nzShowExpand
            [(nzExpand)]="mapOfExpandData[item._id]"></td>
          <!-- <td>{{item._id}}</td> -->
          <td>{{item.title}}</td>
          <td>{{item.create_time | date: 'yyyy-MM-dd hh:mm:ss'}}</td>
          <td>
            <nz-avatar nzIcon="user"
              nzSrc="{{item.demand_user.profile.avatar}}"></nz-avatar>
            {{item.demand_user.profile.name}}
          </td>
          <td>
            <div *ngIf="item.dev_user">
              <nz-avatar nzIcon="user"
                nzSrc="{{item.dev_user.profile.avatar}}"></nz-avatar>
              {{item.dev_user.profile.name}}
            </div>
          </td>
          <td>￥{{item.project_assess}}</td>
          <td>
            <nz-badge nzStatus="{{item.status | projectColor}}"></nz-badge>
            {{item.status | projectStatus}}
          </td>
          <td>
            <span *ngIf="item.role !== 1">
              <span [ngSwitch]="item.audit">
                <span *ngSwitchCase="1">
                  <a>审核通过</a>
                </span>
                <span *ngSwitchCase="2">
                  <a>审核不通过</a>
                </span>
                <nz-dropdown *ngSwitchDefault>
                  <a nz-dropdown>
                    审核 <i nz-icon
                      type="down"></i>
                  </a>
                  <ul nz-menu
                    nzSelectable>
                    <li nz-menu-item
                      (click)="auditProject(item, 1)">审核通过</li>
                    <li nz-menu-item
                      (click)="auditProject(item, 2)">审核不通过</li>
                  </ul>
                </nz-dropdown>
              </span>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="delProject(item)">删除项目</a>
            </span>
          </td>
        </tr>
        <tr [nzExpand]="mapOfExpandData[item._id]">
          <td></td>
          <td colspan="7">
            <div class="d-flex justify-content-between align-items-top">
              <div class="flex-1">
                <h4>项目填写信息</h4>
                <ul>
                  <li>项目ID：{{item._id}}</li>
                  <li>项目详情：{{item.desc}}</li>
                  <li>项目预算：￥{{item.price | number}}</li>
                  <li>项目发布时间：{{item.create_time | date: 'yyyy-MM-dd hh:mm:ss'}}</li>
                </ul>
              </div>
              <div class="flex-1">
                <h4>项目评估信息</h4>
                <ul>
                  <li>项目类型：{{item.project_type}}</li>
                  <li>项目功能：
                    <span *ngFor="let item of item.project_fun">
                      <br>
                      <span *ngFor="let item2 of item">
                        {{item2.title}}-
                      </span>
                    </span>
                  </li>
                  <li>项目估价：￥{{item.project_assess}}</li>
                </ul>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-top">
              <div class="flex-1">
                <h4>需求者</h4>
                <ul>
                  <li>id： {{item.demand_user._id}}</li>
                  <li>email： {{item.demand_user.email}}</li>
                  <li>name： {{item.demand_user.profile.name}}</li>
                  <li>phone： {{item.demand_user.profile.phone}}</li>
                  <li>desc： {{item.demand_user.profile.desc}}</li>
                </ul>
              </div>
              <div class="flex-1">
                <h4>开发者</h4>
                <ul *ngIf="item.dev_user">
                  <li>id： {{item.dev_user._id}}</li>
                  <li>email： {{item.dev_user.email}}</li>
                  <li>name： {{item.dev_user.profile.name}}</li>
                  <li>phone： {{item.dev_user.profile.phone}}</li>
                  <li>desc： {{item.dev_user.profile.desc}}</li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>

    </tbody>
  </nz-table>
</nz-card>