<nz-card [nzBordered]="false">
  <nz-table #table
    [nzData]="userTable"
    [nzPageSize]="20">
    <thead>
      <tr>
        <th>ID</th>
        <th>身份</th>
        <th>头像&昵称</th>
        <th>邮箱</th>
        <th>手机</th>
        <th>注册时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of table.data">
        <td>{{data._id}}</td>
        <td>
          <span [ngSwitch]="data.role">
            <!-- <span *ngSwitchCase="1">
              <nz-badge nzStatus="success"></nz-badge>
              管理员
            </span> -->
            <span *ngSwitchCase="2">
              <nz-badge nzStatus="warning"></nz-badge>
              需求者
            </span>
            <span *ngSwitchCase="3">
              <nz-badge nzStatus="success"></nz-badge>
              开发者
            </span>
          </span>
        </td>
        <td>
          <nz-avatar nzIcon="user"
            nzSrc="{{data.profile.avatar}}"></nz-avatar>
          {{data.profile.name}}
        </td>
        <td>{{data.email}}</td>
        <td>{{data.profile.phone}}</td>
        <td>{{data.create_time | date: 'yyyy-MM-dd hh:mm'}}</td>
        <td>
          <span>
            <a (click)="showModal(data)">详细信息</a>
            <nz-divider nzType="vertical"></nz-divider>

            <span [ngSwitch]="data.audit">
              <span *ngSwitchCase="1">
                <span>审核已通过</span>
              </span>
              <span *ngSwitchCase="2">
                <span>审核不通过</span>
              </span>
              <nz-dropdown *ngSwitchDefault>
                <a nz-dropdown>
                  审核 <i nz-icon
                    type="down"></i>
                </a>
                <ul nz-menu
                  nzSelectable>
                  <li nz-menu-item
                    (click)="auditUser(data, 1)">审核通过</li>
                  <li nz-menu-item
                    (click)="auditUser(data, 2)">审核不通过</li>
                </ul>
              </nz-dropdown>
            </span>
          </span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>


<!-- model 1 -->
<nz-modal [(nzVisible)]="modal1"
  (nzOnCancel)="modal1 = false"
  (nzOnOk)="modal1 = false">
  <div *ngIf="userDetail"
    class="d-flex align-item-top justify-space-between">
    <nz-avatar nzIcon="user"
      nzSrc="{{userDetail.profile.avatar}}"
      [nzSize]="72"
      [nzShape]="'square'"></nz-avatar>
    <div class="ml-3">
      <h3>昵称</h3>
      <p>{{userDetail.profile.name}}</p>
      <h3>ID</h3>
      <p>{{userDetail._id}}</p>
      <h3>邮箱</h3>
      <p>{{userDetail.email}}</p>
      <h3>电话</h3>
      <p>{{userDetail.profile.phone}}</p>
      <h3>简介</h3>
      <p>{{userDetail.profile.desc}}</p>
    </div>
  </div>
</nz-modal>