.login {
  width: 100vw;
  height: 100vh;
  background: url('../../../assets/images/login_bg.svg') #f0f2f5 no-repeat center/cover;
  p {
    text-align: center;

  }
  .login-form {
    max-width: 300px;
    margin-top: 40px;
  }

  .ant-form-item {
    margin-bottom: 10px;
  }
  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
}